<button data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
        data-sly-use.iconTemplate="icon.html"
        data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
        data-sly-element="${button.buttonLink.valid ? 'a' : 'button'}"
        type="${button.buttonLink.valid ? '' : 'button'}"
        id="${button.id}"
        class="cmp-button"
        data-sly-attribute="${button.buttonLink.htmlAttributes}"
        aria-label="${button.accessibilityLabel}"
        data-cmp-clickable="${button.data ? true : false}"
        data-cmp-data-layer="${button.data.json}"
        data-analytics-primary="${properties.analyticsPrimary}"
        data-analytics-secondary="${properties.analyticsSecondary}"
        data-sly-test.isNotEmpty="${button.text || button.icon}">
    <sly data-sly-call="${iconTemplate.icon @ icon=button.icon}"></sly>
    <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
</button>

<sly data-sly-call="${templates.placeholder @ isEmpty = !isNotEmpty, classAppend='cmp-text'}"></sly>
