// ===================================================================================================
// ===========================>      Brand Settings      <============================================
// ===================================================================================================

//===== Colors =====
$color-primary:                 #12295d;
$color-secondary:               #525252;
$color-tertiary:                #FFF;

$background-primary:	        #FFF;
$background-secondary:	        #12295d;
$background-tertiary:	        #D3D3D3;
$background-aquamarine:         #00cacf;
$background-monochromatic:      #AEAEBC;
$bg-aquamarine-secondary:       #439ca3;
$backgroundg-yellow:            #ffdc69;
$background-tealishBlue:        #41547D;

$color-dark:                    #000;
$color-aquamarine:              #00cacf;

// ===================================================================================================
//=============================>        Font and Size        <========================================
// ===================================================================================================

// Text
$font-size-legal:               11px;


//====================================================================================================
// ===============================>        Padding        <===========================================
//====================================================================================================

$padding-list-row:              0 10px;

// Image
$padding-image-min:             0 25px;
$padding-image-medium:          0 35px;
$padding-image-max:             0 45px;

// Title
$padding-title-underline:           0 0 8px 0;

// === Navigation ====

// Desktop
$padding-navigation-group:          16px 0 25px 0;
$padding-navigation-item0:          0 0 5px 0;
$padding-navigation-items:          10px;
$padding-navigation-items-bottom:   25px;
// Mobile
$padding-navigation-mobile-items:   10px 0;

// ===================================================================================================
// ===============================>      Margin       <===============================================
// ===================================================================================================

// List
$margin-footer-menu-top:            14px;

// Navigation
$margin-navigation-items:           0 5px;

// Title
$margin-title-underline:            0 0 28px 0;
