// Carousel Container

%carousel-container-base {
    .tns-outer {
        position: relative;

        &>button {
            display: none;
        }
    }

    .tns-controls {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        button:first-child {
            position: relative;
            left: 0;
            width: 35px;
            height: 35px;
            display: block;
            border: none;
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM310.6 345.4c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0l-112-112C147.1 272.4 144 264.2 144 256s3.125-16.38 9.375-22.62l112-112c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L221.3 256L310.6 345.4z"/></svg>') no-repeat top left;
            background-repeat: no-repeat;
            background-size: contain;
        }

        button:last-child {
            position: relative;
            right: 0;
            width: 35px;
            height: 35px;
            display: block;
            border: none;
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"><path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/></svg>') no-repeat top left;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .tns-nav {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0;

        button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: none;
        }
    }

    .tns-liveregion {
        display: none;
    }

    .tns-ovh {
        overflow: hidden;
    }
}

.rewind,
.loop,
.no-loop,
.center,
.auto-play {
    @extend %carousel-container-base;
}

.no-controls {
    @extend %carousel-container-base;
}

.no-indicators {
    @extend %carousel-container-base;
}

%carousel-container-base {

	.tns-controls {
		button:first-child {
			margin: $zero-margin;
			color: $color-transparent;
		}
		button:last-child {
			margin: $zero-margin;
			color: $color-transparent;
		}
	}
	.tns-nav {
		button {
			margin: $margin-carouselContainer-item;
			padding: $zero-padding;
			background-color: $color-translucid;
		}
		.tns-nav-active {
			background-color: $color-primary;
		}
	}
	.tns-ovh {
		margin: $margin-carouselContainer-body;
		.tns-item {
			padding: $padding-carouselContainer-item;
		}
	}
}

.rewind, .loop,.no-loop,.center,.auto-play {
	@extend %carousel-container-base;
}

.no-controls {
	@extend %carousel-container-base;
	.tns-ovh {
		margin: $zero-margin;
		.tns-item {
			padding: $padding-carouselContainer-Nocontorl-item;
		}
	}
}
.no-indicators {
	@extend %carousel-container-base;
}
